* {
    margin= 0;
    padding= 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    overflow: hidden;
}
body {
    background: rgb(0, 0, 0);
    color: white;
    color: flex;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: cener;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}